REACT_APP_API_URL=http://localhost/blood_donation/backend/api/register_donor.php
REACT_APP_APPOINTMENT_API_URL=http://localhost/blood_donation/backend/api/book_appointment.php
REACT_APP_BLOOD_BANKS_API_URL=http://localhost/blood_donation/backend/api/blood-banks.php
REACT_APP_GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_API_KEY
